body {
  font-family: 'Arial', sans-serif;
  height: 100%;
  margin: 0;
}

.navbar-custom {
  background-color: #333;
  color: #fff;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #ddd;
}

.page-header {
  background-color: #888888;
  padding: 20px;
  text-align: center;
}

.page-section {
  margin: 20px 0;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* styles.css */
.navbar-nav .nav-item .nav-link.active {
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px; /* Отрицательное значение равное высоте футера */
}

.footer,
.push {
  height: 50px; /* Высота футера */
}
.btn-primary {
  background-color: #6c757d; /* Bootstrap серый цвет */
  border-color: #6c757d;
}
.nav-item {
    color: 007bff;
}

#navigation-panel .nav-link {
  background-color: white;
  color: #6c757d;
}
#navigation-panel .nav-link:hover {
    color: black;
}